<!-- Account navigation -->

<head>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/kanbas/components/account-navigation.css" />
</head>

<body>
    <ul class="wd-ac-nav-ul">
        <li class="wd-ac-nav-li"><a href="#">
                <div>Notifications</div>
            </a></li>
        <li class="wd-ac-nav-li wd-ac-nav-li-active"><a href="/kanbas/profile/index.html">
                <div>Profile</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Files</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="/kanbas/profile/edit.html">
                <div>Settings</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>ePortfolios</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Shared Content</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>The Hub</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Qwickly Course Tools</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Global Announcements</div>
            </a></li>
    </ul>
</body>