.wd-ac-nav-ul {
    width: 190px;
    margin-left: 20px;
    height: 100%;
    padding-left: 0px;
}

.wd-ac-nav-li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-ac-nav-li a {
    text-decoration: none;
}

.wd-ac-nav-li a div {
    color: crimson;
    font-family: "Lato" sans-serif;
    font-size: 1.2em;
    padding-left: 8px;
    text-align: left;
}

.wd-ac-nav-li-active {
    border-left: 2px solid;
}

.wd-ac-nav-li-active a div {
    color: black;
}