<!-- Course navigation -->

<head>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/kanbas/components/account-navigation.css" />
</head>

<body>
    <ul class="wd-ac-nav-ul">
        <li class="wd-ac-nav-li"><a href="#">
                <div>Home</div>
            </a></li>
        <li class="wd-ac-nav-li wd-ac-nav-li-active"><a href="#">
                <div>Modules</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Piazza</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Zoom Meetings</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Assignments</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Quizzes</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Grades</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>People</div>
            </a></li>
        <li class="wd-ac-nav-li"><a href="#">
                <div>Settings</div>
            </a></li>
    </ul>
</body>