<!-- Course navigation mobile screen -->

<head>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/kanbas/components/account-navigation.css" />
    <link rel="stylesheet" href="/kanbas/style.css" />

</head>

<body>
    <div class="container-fluid">
        <div class="d-block d-md-none mt-2 mb-3 bg-black ps-2 pe-2 pt-2 pb-1">
            <div class="row text-white">
                <div class="col">
                    <span class="">
                        <i class="fas fa-bars"></i>
                    </span>
                </div>
                <div class="col">
                    <p class="text-center">CS 5610. Web Development. Modules</p>
                </div>
                <div class="col">
                    <span class="float-end">
                        <i class="fas fa-glasses"></i>
                        <a href="#" onclick="history.back()" class="text-white">
                            <i class="fas fa-times"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-home fa-lg pe-2"></i>
                    Home
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-network-wired fa-lg pe-2"></i>
                    Modules
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-plug fa-lg pe-2"></i>
                    Piazza
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-plug fa-lg pe-2"></i>
                    Zoom Meetings
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-book fa-lg pe-2"></i>
                    Assignments
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-rocket fa-lg pe-2"></i>
                    Quizzes
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-sticky-note fa-lg pe-2"></i>
                    Grades
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-user-friends fa-lg pe-2"></i>
                    People
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-plug fa-lg pe-2"></i>
                    Panopto Video
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-comments fa-lg pe-2"></i>
                    Discussions
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-bullhorn fa-lg pe-2"></i>
                    Announcements
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-file fa-lg pe-2"></i>
                    Pages
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-folder fa-lg pe-2"></i>
                    Files
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-th-list fa-lg pe-2"></i>
                    Rubrics
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-crosshairs fa-lg pe-2"></i>
                    Outcomes
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="far fa-circle fa-lg pe-2"></i>
                    Collaborations
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-bookmark fa-lg pe-2"></i>
                    Syllabus
                </a>
            </li>
            <li class="list-group-item border-0">
                <a href="#">
                    <i class="fas fa-cog fa-lg pe-2"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</body>