<!-- Kanbas navigation mobile screen -->

<head>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/kanbas/style.css" />
    <link rel="stylesheet" href="/kanbas/components/kanbas-navigation.css" />
</head>

<body>
    <ul class="list-group">
        <li class="list-group-item border-0">
            <span class="float-end">
                <button type="button" class="btn btn-outline-secondary border-0" onclick="history.back()">
                    <i class="fas fa-times"></i>
                </button>
            </span>
        </li>

        <li class="list-group-item border-0">
            <a href="/kanbas/dashboard.html">
                <i class="fas fa-tachometer-alt fa-lg me-2"></i>
                Dashboard
            </a>
        </li>

        <li class="list-group-item border-0">
            <span class="ms-3">
                <a href="#">
                    <i class="fas fa-user fa-lg me-2 wd-gray"></i>
                    Account
                </a>
            </span>
            <span class="float-end">
                <i class="fas fa-chevron-right"></i>
            </span>
        </li>

        <li class="list-group-item border-0">
            <span class="ms-3">
                <a href="#">
                    <i class="fas fa-book fa-lg me-2"></i>
                    Courses
                </a>
            </span>
            <span class="float-end">
                <i class="fas fa-chevron-right"></i>
            </span>
        </li>

        <li class="list-group-item border-0">
            <a href="#">
                <i class="fas fa-calendar-alt fa-lg me-2"></i>
                Calendar
            </a>
        </li>

        <li class="list-group-item border-0">
            <a href="#">
                <i class="fas fa-inbox fa-lg me-2"></i>
                Inbox
            </a>
        </li>

        <li class="list-group-item border-0">
            <a href="#">
                <i class="fab fa-youtube fa-lg me-2"></i>
                Studio
            </a>
        </li>

        <li class="list-group-item border-0">
            <a href="#">
                <i class="fas fa-sign-out-alt fa-lg me-2"></i>
                Commons
            </a>
        </li>

        <li class="list-group-item border-0">
            <span class="ms-3">
                <a href="#">
                    <i class="fas fa-history fa-lg me-2"></i>
                    History
                </a>
            </span>
            <span class="float-end">
                <i class="fas fa-chevron-right"></i>
            </span>
        </li>

        <li class="list-group-item border-0">
            <span class="ms-3">
                <a href="#">
                    <i class="fas fa-question-circle fa-lg me-2"></i>
                    Help
                </a>
            </span>
            <span class="float-end">
                <i class="fas fa-chevron-right"></i>
            </span>
        </li>

    </ul>
</body>